{{#if needsClient}}"use client";

{{/if}}import * as React from "react";
{{#if hasVariants}}import { cva, type VariantProps } from "class-variance-authority";
{{/if}}import { cn } from "../lib/utils";

{{#if hasVariants}}const {{camelCase name}}Variants = cva(
  "{{kebabCase name}}-base", // Base classes
  {
    variants: {
      variant: {
        default: "{{kebabCase name}}-default",
        outline: "{{kebabCase name}}-outline",
      },
      size: {
        default: "{{kebabCase name}}-size-default",
        sm: "{{kebabCase name}}-size-sm",
        lg: "{{kebabCase name}}-size-lg",
      },
    },
    defaultVariants: {
      variant: "default",
      size: "default",
    },
  }
);

{{/if}}export interface {{pascalCase name}}Props
  extends React.HTMLAttributes<HTMLDivElement>{{#if hasVariants}},
    VariantProps<typeof {{camelCase name}}Variants>{{/if}} {
  // Add custom props here
}

export const {{pascalCase name}} = React.forwardRef<
  HTMLDivElement,
  {{pascalCase name}}Props
>(({ className{{#if hasVariants}}, variant, size{{/if}}, ...props }, ref) => {
  return (
    <div
      ref={ref}
      className={cn({{#if hasVariants}}{{camelCase name}}Variants({ variant, size, className }){{else}}className{{/if}})}
      {...props}
    >
      {/* TODO: Implement {{pascalCase name}} component */}
      {{pascalCase name}} Component
    </div>
  );
});

{{pascalCase name}}.displayName = "{{pascalCase name}}";
